.bodyFlex {
    width: 120vw;
}

.CartInside {
    margin-top: 40px;
    margin-left: -2vw;
    width: 25vw;
}

.menuHeight {
    min-height: 150vh;
}

@media (max-width:600px) {
    .bodyFlex {
        display :flex;
        flex-direction: column;
        justify-content: center;
        width: 80vw;
    }
    .CartInside {
        display: none;
    }
    .menu-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 150vh;
    }
}
@media (max-width:400px) {
    .bodyFlex {
        display :flex;
        flex-direction: column;
        justify-content: right;
        margin-left: 50px;
        width: 200px;
    }
    .CartInside {
        display: none;
    }
    
}

@media (max-width: 800px) {
    .CartInside {
        margin-top: 40px;
        margin-left: 8vw;
        width: 34vw;
    }
}