.bodyFlex {
    width: 120vw;
}

.CartInside {
    margin-top: 40px;
    margin-left: -5vw;
    width: 25vw;
}

.menuHeight {
    min-height: 150vh;
}

@media (max-width:600px) {
    .bodyFlex {
        margin-left:1.5em;
        width: 80vw;
    }
    .CartInside {
        display: none;
    }
    .menu-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 150vh;
    }
}