.button {
  padding: 20px;
  background-color: bisque;
}
 body{
   box-sizing: border-box;
  background-color: #f6f2f2;
  margin:0;
  padding: 0;
  left: 0;
  right :0;
  top: 0;
  bottom: 0;
  
 }

.couponFlex {
  margin-left: 5%;
  margin-right : 5%;
  width: 100%;
  height : auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: linear-gradient(315deg, #d9d9d9f1 0%, #f6f2f2ce 74%);
}
@media (max-width:600px) {
  .couponFlex{
    width: auto;
    display: flex;
    flex-direction: column;

  }
}
@media (max-width:400px) {
  .couponFlex{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
}