.Coupons {
    padding: 0;
    width: 15vw;
    margin: 20px 5px 20px 15px;
    min-height: 50vh;
    max-height: 60vh;
}

.CouponsImage{
    min-height:15em;
    max-height:15em;
}
.CouponPricePara{
    font-size:1.11em;
    text-decoration: none;
}
.CouponCardContainer:hover{
    transform: translate(-1%,-1%);
}

@media (max-width:500px) {
    .Coupons {
        margin:auto
    }

}

@media (max-width:600px) {
    .Coupons {
        margin:auto;
        justify-content: center;
        width: 300px;
        padding: 10px;
    }
}