.image-container{
    min-height:10vh;
}
.menuCard{
    display:flex;
    flex-direction:column;
}
.price{
    font-size: 1.8em;
    font-weight: bolder;
}
@media (max-width:600px) {
    .menuCard{
      margin :auto;
      width :auto;
      justify-content:right;
      box-shadow: 10px 5px 5px black;
    }
    .price{
        font-size: 1em;
    }
    .image-container{
        min-width:150px;
        max-height: 150px;
    }
    .menuContainer{
        display :flex;
        flex-direction:column;
        justify-content: right;
    }
    .menuButton{
        width: 150px;
        transform: translate(50%);
    }
}
@media (max-width : 400px) {
    .image-container{
        min-width:180px;
        max-height: 80px;
    }
    .menuButton{
        width: 150px;
    }
    .price{
        font-size: 1em;
    }
    
}
